
.main-content{
    position: absolute;
    height: 50rem;
    width: 100%;

}

hr{
    margin-top: 2rem;
    width: 95%;
    height: 0.05rem;
    background-color: rgb(7, 88, 159); 
}
.nav-color{
    background: rgb(8,70,119);
    background: linear-gradient(90deg, rgba(8,70,119,1) 0%, rgba(0,168,255,1) 100%);
    margin-top: 2rem;
    height: 20rem;
}
.nav-color h1{  
    padding-top:4rem ;
    margin-top: 0;
    margin-left: 2rem;
    font-size: 2rem;
    position: relative;
    color: white;
  
    
}

.nav-color .but{
    margin: auto;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    width: 97%;
    height: 7rem;
}
.nav-color button{
    margin-top: 2rem;
    margin-left: 2rem;
    color: white;
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
    border: none;
    text-align: center;
    

}

.main-info{
    
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    height: 25rem;
    color: rgb(7, 88, 159); 
    padding-left: 2rem;
    padding-top: 4rem;
    font-size: 2rem;

    
}

.main-info input{
    color: rgb(7, 88, 159); 
    font-size:1rem;
}

.addActi{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: rgb(0, 0, 0);
    color: rgb(7, 88, 159); 
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;   
}

.activity{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    color: white;
    height: 20rem; 
    background: rgb(8,70,119);
    background: linear-gradient(90deg, rgba(8,70,119,1) 0%, rgba(0,168,255,1) 100%);
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out forwards;
    animation-duration: 2s;
    animation-name:mess;
}
@keyframes mess {
    0% {
        height: 0;
        opacity: 0;
      }
      100% {
          height: 20rem; 
          opacity: 100%;
      }
    
 }

.activity input{
    color: white;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out forwards;
    animation-duration: 4s;
    animation-name:messa;

}

@keyframes messa {
    0% {
         opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    
 }

 #submitt{
    margin-top:2rem;
 }

 .footer{
    position: sticky;
    display: none;
    bottom: 0;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 4rem;

 }

 .imgg{
    display: none;
    height: 5rem;
 }

 .imgg img{
    object-fit: contain;
    
 }

.upper{
    margin-top: 4rem;
    display: flex;
}

#sel_color{
    margin-top: 3rem;
    margin-left: 1rem;
    height: 3rem;
    width: 6rem;
    border-radius: 1rem;
}

